# Byte-compiled / cache
__pycache__/
*.py[cod]
*.pyo

# Environment folders
env/
venv/

# Streamlit artifacts
.streamlit/
*.pydeventlog
*.stcache
*.stfolder

# Log & metadata
*.log
.DS_Store

# Secrets (if applicable)
secrets.toml