# Byte-compiled / cache
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
env/
venv/

# Streamlit artifacts
.streamlit/
.stcache/
.stfolder/
*.pydeventlog

# OS and editor junk
.DS_Store
*.log